/*
Notes to self:
  add images to CSS file

Breakdown of screen
  statusbar
  search
  map
  divider
  buslistings
*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  width: 375px; /*default iPhone 8*/
  height: 667px; /*default iPhone 8*/
  border: 1px solid #000000;
  margin: 50px;
  position: fixed;
}



.background {
  background-image: url(../images/statusbar.png), url(../images/MapElements.png);
  background position: top, top;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  height: 330px;
  border-bottom: 5px solid #D9DADC;
} /* statusbar & map image */


ul {
  height: 335px;
  overflow: auto;
  overflow-x: hidden;
  padding: 6px 5px 0px 8px;
}

li {
  /*padding: 10px;*/
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 13px;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
}

.direction {
  display: block;
  font-weight: lighter;
  margin-bottom: 3px;
  font-size: .35em;
  padding-left: 4px;
}

h1 {
  font-size: 1.3em;
  display: inline-block; /* lines up destination w/ bus # */
  padding: 11px 0px 0px 18px;
  font-weight: bolder;
  vertical-align: top;
}

img {
  padding-bottom: 5px;
}

h2 {
  padding-top: 20px;
  font-size: 1.2em;
  float: right;
  font-weight: bolder;
  text-align: right;
}

.frequency {
  display: block;
  font-weight: lighter;
  font-size: .8em;
  margin-top: 4px;
}

h4 {
  font-weight: bold;
  font-size: 3.3em;
  display: inline-block; /*lines up destination w/ bus # */
  width: 18%;
  /* padding-top: 20px; */
}

.sixtystop {
  color: #9E0FC1;
}

.onetwentyfourstop {
  color: #22A0A8;
}

.onefiftyfourstop {
  color: #F0A81C;
}

.jfourteenstop {
  color: #4176FF;
}

.sixxstop {
  color: #E68647;
}

.fourstop {
  color: #5D5DC7;
}

.text {
  display: inline;
}

.search {
  padding: 30px 20px 0px 20px;
}

.searchbox {
  height: 33px;
  width: 260px;
  background-image: url(../images/switchicon.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  padding-left: 8px;
}

.backbutton {
  background-image: url(../images/BackButtonIcon.png);
  background-repeat: no-repeat;
  height: 23px;
  width: 22px;
  border: none;
  vertical-align: middle;
  background-color: transparent;
}

.morebutton{
  background-image: url(../images/ellipsis.png);
  background-repeat: no-repeat;
  height: 6px;
  width: 17px;
  border: none;
  vertical-align: middle;
  background-color: transparent;
}

.dividerscroll {
  background-image: url(../images/pullscreen.png);
  background-repeat: no-repeat;
  height: 18px;
  width: 80px;
  border: none;
  background-color: transparent;
}

.divider {
  padding: 40px 0px 0px 130px;
}
